# Dependencias
node_modules/

# Expo y Builds
.expo/
.expo-shared/
dist/
web-build/

# Entornos y Secretos
.env
.env.local
.env.*.local

# Asistentes e IDEs
.claude/
.vscode/
.idea/
AGENTS.md
CLAUDE.md

# Logs y Temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem